.subhovermenu{
    visibility: hidden;
    z-index: 1;
}
.hovermenu:hover{
    .subhovermenu{
        visibility: visible;
        cursor: pointer;
    }
}
.subhovermenu:hover{
    visibility: visible;
}